#### Introduction
We have a dataset that shows which users have purchased an iPhone. Our goal in this project is to predict if the customer will purchase an iPhone or not given their gender, age and salary. The full dataset can be accessed here.

#### Import requried libraries

In [17]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

#### Load dataset

In [3]:
df = pd.read_csv('iphone_purchase.csv')
df

     Gender  Age  Salary  Purchase Iphone
0      Male   19   19000                0
1      Male   35   20000                0
2    Female   26   43000                0
3    Female   27   57000                0
4      Male   19   76000                0
..      ...  ...     ...              ...
395  Female   46   41000                1
396    Male   51   23000                1
397  Female   50   20000                1
398    Male   36   33000                0
399  Female   49   36000                1

[400 rows x 4 columns]

The sample rows are shown above.

#### Features and target

In [4]:
x = df.iloc[:,:-1].values
y = df.iloc[:,3].values

#### Convert the categorical variables to number

In [6]:
LabelEncoder_gender = LabelEncoder()
x[:,0] = LabelEncoder_gender.fit_transform(x[:,0])

#### Split the dataset into train set and test set

In [10]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

#### Feature Scaling

In [12]:
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.fit_transform(x_test)

#### Fit KNN Classifier

In [15]:
classifier = KNeighborsClassifier(n_neighbors=5, metric='minkowski',p=2)
classifier.fit(x_train,y_train)

KNeighborsClassifier()

#### Predictions

In [16]:
y_pred = classifier.predict(x_test)

#### Accuracy

In [18]:
cm = metrics.confusion_matrix(y_test, y_pred)
print(cm)
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy Scores:',accuracy)
precision = metrics.precision_score(y_test, y_pred)
print("Precision Score:",precision)
recall = metrics.recall_score(y_test, y_pred)
print("Recall Score:",recall)

[[63  5]
 [ 3 29]]
Accuracy Scores: 0.92
Precision Score: 0.8529411764705882
Recall Score: 0.90625

We get an accuracy of 93%.
And only a total of 7 (4+3) incorrect predictions were made.