#### Introduction
The dataset we will use in this project are from kaggle. It can be download from [here.](https://www.kaggle.com/datasets/farhanmd29/50-startups) Let's explore the dataset.

#### Import Libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt

#### Load the dataset

In [4]:
dataset = pd.read_csv('Salary_Data.csv')
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

The dataset from kaggle include data about 50 startups.
Each startups has 5 columns — “R&D Spend”, “Administration”, “Marketing Spend”, “State”, “Profit”.
The first 3 columns points out how much each startup spends on Research and Development, how much they spend on Marketing and how much they spend on Administration cost. The state column indicates which state the startup is based in. And the last column states the profit made by the start up.

There is a column we need encode before we feed them to our modle. We can see that a categorical variable which is “State” which we have to encode. Here the “State” variable is at index 3.
We use OneHotEncoder and ColumnTransformer class to convert text to numbers

#### Variables

In [9]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,4].values

#### Convert text to number

In [10]:
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[3])],remainder='passthrough')
X = np.array(ct.fit_transform(X))

Once we run the above code snippet — we will see that all States have been converted to numbers and added to the beginning.
For example :
New York has been represented by 0,0,1
California by 1,0, 0 and Florida by 0,1,0.

We have to remove one of the dummy variables. You can read about the dummy variable trap and why we need to remove one of the dummy variables.

In [16]:
# Dummy Trap
X = X[:,1:]

#### Split dataset into training set and test set
We will use the training dataset for training the model and check the performance of the model with test set.

In [17]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=1/3,random_state=0)

#### Fit our model to training set

In [18]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

#### Predict the test set

In [19]:
y_pred = model.predict(X_test)

#### Evaluation

In [26]:
score = r2_score(y_test,y_pred)
print('R2 score is: ',score)

R2 score is:  0.875265528574844

In [3]:
import matplotlib
matplotlib.__version__

'3.5.1'